@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?27692085');
  src: url('../font/fontello.eot?27692085#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?27692085') format('woff2'),
       url('../font/fontello.woff?27692085') format('woff'),
       url('../font/fontello.ttf?27692085') format('truetype'),
       url('../font/fontello.svg?27692085#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?27692085#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone:before { content: '\21'; } /* '!' */
.icon-mail:before { content: '\25'; } /* '%' */
.icon-location:before { content: '\30'; } /* '0' */
.icon-ql-calendar:before { content: '\63'; } /* 'c' */
.icon-ql-vcard:before { content: '\64'; } /* 'd' */
.icon-ql-index:before { content: '\69'; } /* 'i' */
.icon-ql-map:before { content: '\6c'; } /* 'l' */
.icon-ql-mywestern:before { content: '\77'; } /* 'w' */
.icon-wwu-socialmediaicons-facebook:before { content: '\101'; } /* 'ā' */
.icon-wwu-socialmediaicons-flickr:before { content: '\102'; } /* 'Ă' */
.icon-wwu-socialmediaicons-googleplus:before { content: '\103'; } /* 'ă' */
.icon-wwu-socialmediaicons-instagram:before { content: '\104'; } /* 'Ą' */
.icon-wwu-socialmediaicons-tumblr:before { content: '\105'; } /* 'ą' */
.icon-wwu-socialmediaicons-twitter:before { content: '\106'; } /* 'Ć' */
.icon-wwu-socialmediaicons-westerntoday:before { content: '\107'; } /* 'ć' */
.icon-wwu-socialmediaicons-youtube:before { content: '\108'; } /* 'Ĉ' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-angle-right:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-up-micro:before { content: '\e80d'; } /* '' */
.icon-folder:before { content: '\e80e'; } /* '' */
.icon-ok-circle:before { content: '\e80f'; } /* '' */
.icon-location-circled:before { content: '\e810'; } /* '' */
.icon-mail-circled:before { content: '\e811'; } /* '' */
.icon-right-circle:before { content: '\e812'; } /* '' */
.icon-wwu-socialmediaicons-wwusocial:before { content: '\e82a'; } /* '' */