
.icon-phone:before { content: '\21'; } /* '!' */
.icon-mail:before { content: '\25'; } /* '%' */
.icon-location:before { content: '\30'; } /* '0' */
.icon-ql-calendar:before { content: '\63'; } /* 'c' */
.icon-ql-vcard:before { content: '\64'; } /* 'd' */
.icon-ql-index:before { content: '\69'; } /* 'i' */
.icon-ql-map:before { content: '\6c'; } /* 'l' */
.icon-ql-mywestern:before { content: '\77'; } /* 'w' */
.icon-wwu-socialmediaicons-facebook:before { content: '\101'; } /* 'ā' */
.icon-wwu-socialmediaicons-flickr:before { content: '\102'; } /* 'Ă' */
.icon-wwu-socialmediaicons-googleplus:before { content: '\103'; } /* 'ă' */
.icon-wwu-socialmediaicons-instagram:before { content: '\104'; } /* 'Ą' */
.icon-wwu-socialmediaicons-tumblr:before { content: '\105'; } /* 'ą' */
.icon-wwu-socialmediaicons-twitter:before { content: '\106'; } /* 'Ć' */
.icon-wwu-socialmediaicons-westerntoday:before { content: '\107'; } /* 'ć' */
.icon-wwu-socialmediaicons-youtube:before { content: '\108'; } /* 'Ĉ' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-angle-right:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-up-micro:before { content: '\e80d'; } /* '' */
.icon-folder:before { content: '\e80e'; } /* '' */
.icon-ok-circle:before { content: '\e80f'; } /* '' */
.icon-location-circled:before { content: '\e810'; } /* '' */
.icon-mail-circled:before { content: '\e811'; } /* '' */
.icon-right-circle:before { content: '\e812'; } /* '' */
.icon-wwu-socialmediaicons-wwusocial:before { content: '\e82a'; } /* '' */